.Form-Style {
    margin:2.5em;
}

.Form-Input {
    border-style: hidden;
    background-color:#f8e9dd !important;
    color: #a64b12;
    text-align: center;
}


.Logo {
    width: 75%;
}

.Btn-login {
    margin-top: 1.5em;
    background-color: #a64b12 !important;
    font-size: 1em;
    width: 6em;
    border: none !important;
    border-radius: .2em;

}

.Btn-delete {
    margin-top: 1.5em;
    background-color: #f8e9dd !important;
    color: #a64b12 !important;
    font-size: 1em;
    width: 6em;
    border: none !important;
    border-radius: .2em;

}

.Link-Style {
    color: #a64b12;
    flex-direction: column;
    text-decoration: none;
    margin: 1em 2em 2em 2em;
}

.Link-Stylex {
    color: #f8e9dd;
    flex-direction: column;
    text-decoration: none;
    margin: 1em 2em 2em 2em;
}

a.Link-Style:hover {
    color: #a64b12 !important;
}